body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 12px 150px;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    list-style-type: none;
    padding: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    padding: 64px 150px;
    display: flex;
    background-color: #1f2937;
}

.hero .content {
    flex: 1;
    padding-right: 24px;
}

.content .text {
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.content .subtext {
    color:#e5e7eb;
    font-size: 18px;
    margin-bottom: 12px;
}

.content button {
    background-color: #3382f6;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 900;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    margin-bottom: 8px;
}

.hero .image {
    flex: 1;
    background-color: #777;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    padding: 48px 250px;
    text-align: center;
}

.info .text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 36px;
}

.info .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.pair {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pair .image {
    height: 150px;
    width: 150px;
    border: solid #3382f6;
    border-radius: 12px;
}

.pair .caption {
    padding: 8px 0;
    color: #1f2937;
}